<a href="https://colab.research.google.com/github/sweta8144/GRIP_SPARKS/blob/main/MinorProjectcrop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Crop Prediction using Machine Learning**

**October 29**

In [2]:

# for data manipulations
import numpy as np
import pandas as pd

# for visualization of data
import matplotlib.pyplot as plt
import seaborn as sns

# for interactivity
from ipywidgets import interact

# Lets read the dataset
data = pd.read_csv('data.csv')

In [3]:
# Lets check shape of the dataset
print("Shape of the Dataset :", data.shape)

Shape of the Dataset : (2200, 8)

In [4]:
# Lets check the head of the dataset
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
# Lets check if there is any missing value present in the dataset
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
# Checking the different crops in the Dataset
data['label'].value_counts()

cotton         100
blackgram      100
coconut        100
jute           100
banana         100
coffee         100
apple          100
papaya         100
mango          100
muskmelon      100
mothbeans      100
rice           100
lentil         100
pigeonpeas     100
chickpea       100
grapes         100
watermelon     100
pomegranate    100
mungbean       100
kidneybeans    100
maize          100
orange         100
Name: label, dtype: int64

In [7]:
# Checking the Summary for all the crops 
print("Average Ratio of Nitrogen in the Soil : {0:.2f}".format(data['N'].mean()))
print("Average Ratio of Phosphorus in the Soil : {0:.2f}".format(data['P'].mean()))
print("Average Ratio of Potassium in the Soil : {0:.2f}".format(data['K'].mean()))
print("Average Temperature in Celcius : {0:.2f}".format(data['temperature'].mean()))
print("Average Relative Humidity in % : {0:.2f}".format(data['humidity'].mean()))
print("Average Rainfall in mm : {0:.2f}".format(data['rainfall'].mean()))

Average Ratio of Nitrogen in the Soil : 50.55
Average Ratio of Phosphorus in the Soil : 53.36
Average Ratio of Potassium in the Soil : 48.15
Average Temperature in Celcius : 25.62
Average Relative Humidity in % : 71.48
Average Rainfall in mm : 103.46